@import url('/node_modules/todomvc-common/base.css');
@import url('/node_modules/todomvc-app-css/index.css');

/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

.todo-list li.completed label > input {
	color: #949494;
	text-decoration: line-through;
}

input {
	width: 100%;
	border: none;
	font-size: 24px;
}

.view {
	margin-right: 2rem;
}
